<div>
  <img src="/assets/img/users.png" id="icon" alt="User Icon" />
</div>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Full Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
  <div *ngIf="signUpForm.submitted && !fullName.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
  required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
  </div>
  
  
  <input type="text" #dateOfBirth="ngModel" [(ngModel)]="userService.selectedUser.dateOfBirth" name="dateOfBirth" placeholder="Date of Birth"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !dateOfBirth.valid }">
  <div *ngIf="signUpForm.submitted && !dateOfBirth.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  choose gender <br/>
	male
  <input type="radio" #gender="ngModel" [(ngModel)]="userService.selectedUser.gender" name="gender" value="male"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !gender.valid }">
  <div *ngIf="signUpForm.submitted && !gender.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  female
  <input type="radio" #gender="ngModel" [(ngModel)]="userService.selectedUser.gender" name="gender" value="female"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !gender.valid }">
  <div *ngIf="signUpForm.submitted && !gender.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  
  <div style="clear:both"></div>
  <input type="submit" value="Sign Up">
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>